<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Weather survey App</title>
</head>
<body>
  <div class="container" v-bind:class="{hovered: isHovered, clicked: isClicked }" id="app">
    <div class="container_main">

      <div class="container_main_map" id="map">
        <?xml version="1.0" encoding="utf-8"?>
        <svg class="geolonia-svg-map" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
          <title>Japanese Prefectures</title>
          <desc>Created by Geolonia (https://geolonia.com/).</desc>
          <g class="svg-map" transform="matrix(1.028807, 0, 0, 1.028807, -47.544239, -28.806583)">
            <g class="prefectures" transform="matrix(1, 0, 0, 1, 6, 18)">
              <g v-for="item in items" v-on:mouseover="hoverEvent(item.Name)" v-on:mouseleave="hoverLeave" v-on:click="mouseClick(item.Id); getNameEn(item.Roman)" v-bind:class="item.className" stroke-linejoin="round" fill="#EEEEEE" fill-rule="nonzero" stroke="#000000" stroke-width="1.0" v-bind:transform="item.transform" v-html="item.polygon">
                <title>{{ item.Name }} / {{ item.Roman }}</title>
              </g>
            </g>
            <g class="boundary-line" stroke="#EEEEEE" stroke-width="12" stroke-linejoin="round" style="">
              <line x1="320.227" y1="361.996" x2="582.351" y2="109.378" style=""/>
              <line x1="277.337" y1="380.162" x2="46.213" y2="380.162" style=""/>
            </g>
          </g>
        </svg>
      </div>
    </div>

    <!-- PC版サイドバー -->
    <div class="container_sidebar container_sidebar-pc">
      <div class="container_sidebar_msg">
        <p class="container_sidebar_msg_txt" v-if="isHovered">
          {{ nameJP }}<span class="container_sidebar_msg_txt_normal">の天気を表示する</span>
        </p>
        <div class="c-scroll" v-if="isHovered"><span></span></div>
      </div>
      <div class="container_sidebar_today" v-if="clickSwitch">
        <div class="container_sidebar_today_delete">
          <button class="container_sidebar_today_delete_round" v-on:click="deleteBtn" type="button">×</button>
        </div>
        <p class="container_sidebar_today_txt">Today</p>
        <p class="container_sidebar_today_prefecture">{{ nameEn }}</p>
        <div class="container_sidebar_today_icon">
          <img v-bind:src=" 'images/icon/' + icon_w + '.png' " alt="icon">
        </div>
        <p class="container_sidebar_today_condition">{{ condition_w.main }}</p>
        <p class="container_sidebar_today_temperature" v-if="roundUpTemp_w != 0">{{ roundUpTemp_w }}°</p>
        <button class="container_sidebar_today_btn" v-on:click="displayForecast(); selectArray(); gatherDate()" type="button">{{ nameJP_w }}天気予報を表示</button>
      </div>
      <div class="container_sidebar_next" v-if="clickSwitchSc">
        <div class="container_sidebar_next_title">Forecast</div>
        <div class="container_sidebar_next_items">
          <div class="container_sidebar_next_items_day">
            <div class="container_sidebar_next_items_day_repeat" v-for="data in dayData">
              <p class="container_sidebar_next_items_day_repeat_date">{{ data.dates }}</p>
              <p class="container_sidebar_next_items_day_repeat_week">{{ data.weeks }}</p> 
            </div>
          </div>
          <div class="container_sidebar_next_items_data">
            <div class="container_sidebar_next_items_data_repeat" v-for="foreData in selectedData">
              <p class="container_sidebar_next_items_data_repeat_time">{{ foreData.time_f }}</p>
              <div class="container_sidebar_next_items_data_repeat_icon">
                <img v-bind:src=" 'images/icon/' + foreData.icon_f + '.png' " alt="">
              </div>
              <p class="container_sidebar_next_items_data_repeat_temperatureMax">{{ foreData.tempMax_f }}°</p>
              <p class="container_sidebar_next_items_data_repeat_temperatureMin">{{ foreData.tempMin_f }}°</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- スマホ版サイドバー -->
    <div class="container_sidebar container_sidebar-sp">
      <div class="container_sidebar_delete">
        <button class="container_sidebar_delete_round" v-on:click="deleteBtn" type="button">×</button>
      </div>
      <div class="container_sidebar_tab">
        <div v-on:click="change('1')" v-bind:class="{'active': isActive === '1'}" class="container_sidebar_tab_menu">
          <p class="container_sidebar_tab_menu_txt">Today</p>
        </div>
        <div v-on:click="change('2'); displayForecast(); selectArray(); gatherDate()" v-bind:class="{'active':isActive === '2'}" class="container_sidebar_tab_menu">
          <p class="container_sidebar_tab_menu_txt">Forecast</p>
        </div>
      </div>
      <div v-if="isActive === '1'" class="container_sidebar_today">
        <p class="container_sidebar_today_txt">Today</p>
        <p class="container_sidebar_today_prefecture">{{ nameEn }}</p>
        <div class="container_sidebar_today_icon">
          <img v-bind:src=" 'images/icon/' + icon_w + '.png' " alt="icon">
        </div>
        <p class="container_sidebar_today_condition">{{ condition_w.main }}</p>
        <p class="container_sidebar_today_temperature" v-if="roundUpTemp_w != 0">{{ roundUpTemp_w }}°</p>
      </div>
      <div v-else-if="isActive === '2'" class="container_sidebar_next">
        <div class="container_sidebar_next_title">Forecast</div>
        <div class="container_sidebar_next_items">
          <div class="container_sidebar_next_items_day">
            <div class="container_sidebar_next_items_day_repeat" v-for="data in dayData">
              <p class="container_sidebar_next_items_day_repeat_date">{{ data.dates }}</p>
              <p class="container_sidebar_next_items_day_repeat_week">{{ data.weeks }}</p> 
            </div>
          </div>
          <div class="container_sidebar_next_items_data">
            <div class="container_sidebar_next_items_data_repeat" v-for="foreData in selectedData">
              <p class="container_sidebar_next_items_data_repeat_time">{{ foreData.time_f }}</p>
              <div class="container_sidebar_next_items_data_repeat_icon">
                <img v-bind:src=" 'images/icon/' + foreData.icon_f + '.png' " alt="">
              </div>
              <p class="container_sidebar_next_items_data_repeat_temperatureMax">{{ foreData.tempMax_f }}°</p>
              <p class="container_sidebar_next_items_data_repeat_temperatureMin">{{ foreData.tempMin_f }}°</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="app.js"></script>
<script>
  const prefs = document.querySelectorAll( '.geolonia-svg-map .prefecture' )

prefs.forEach( ( pref ) => {
  // マウスオーバーで色を変える
  pref.addEventListener( 'mouseover', ( event ) => {
    event.currentTarget.style.fill = "#1DC7D1"
  } )

  // マウスが離れたら色をもとに戻す
  pref.addEventListener( 'mouseleave', ( event ) => {
    event.currentTarget.style.fill = ""
  } )
} )

</script>
</body>
</html>